<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @payment_frequency.description %>
</p>

<%= link_to 'Edit', edit_payment_frequency_path(@payment_frequency) %> |
<%= link_to 'Back', payment_frequencies_path %>
